#head{
			background-color: yellow;
			
			top: 0px;
			left: 0px;
			right: 0px;
			height: 200px;
			width:100%;
			text-align: center;
			color: green;
			font-size:29px;
			}
.left {
	display: block;
	float: left;
}
.right {
	display: block;
	float: right;
    margin-right: 50px;
}
		#menu{
            padding: 15px 0 0 15px;
				height:60px;
				background-color: #efefef;
                width:100%;
				font-size:20px;
				color: blue;
				float:middle;
			}	
#menu ul{ text-align: center;}
#menu ul li{list-style: none; display: inline; margin-left: 50px; padding: 5px;}
a { text-decoration: none;}
a:hover{ background-color: aquamarine;}
		#left-content{
			background-color:red;
			top: 220px;
			left: 0px;
			right:70%;
			height:400px;
			width: 30%;
			text-align: center;
			color: yellow;
			font-size:20px;
			float: left;
			}
		#righ-content{
			background-color: green;
			text-align: center;
			top: 220px;
			left:30%;
			right: 0px;
			height:400px;
			width: 70%;
			text-align:center;
			color:red;
			font-size:25px;
			float: right;
			}
			
		footer{
			background-color:#787878;
			text-align:center;
			left: 0px;
			right:0px;
			height: 50px;
			width:100%;
			color: white;
			font-size: 20px;
            line-height: 50px;
			}
img { border-radius: 50%;}